.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 250px;
    z-index: 200;
    margin-top: 55Px;   

}

.side-drawer.open {
    transform: translateX(0);
}